body{
  margin: 0px;
  background-color: #d4b8db;
}

.edi{
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  margin-left: 20px;
}

.editor{
  width: 100%;
  margin: 0px;
  border: 5px solid black;
  height: 90vh;
  padding-top: 0px;
  margin-top: 0px;
}

.edi-head{
  display: block;
  margin: 0px;
   border: 5px solid black;
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #FFEA9E;
}

div{
  margin: 0px;
}

.edi-head > p{
  margin: 0px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
}

.preview{
    width: 100%;
  margin: 0px;
  border: 5px solid black;
  height: 100%;
  padding-top: 0px;
  margin-left: 20px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #9EFFEA;
}

@media (max-width: 580px) {
  .editor{
    max-height: 300px;
  }
  .preview{
      min-height: 200px;
   overflow-wrap: break-word;

  }
}

  img {
    display: block;
   width: 90%;
    margin: 2rem auto;
  }
   
.pre{
 display: block;
   border: 5px solid black;
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-top: 15px;
  background-color: #FFEA9E;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  }

p{
  margin: 0px;
}

#editor{
  background-color: #9EFFEA;
}

#tag{
  height: 90%;
}